<div class="backing">
		<div id="main">
			<div id="left"></div>
			<div id="right"></div>
			<div id="top"></div>
			<div id="bottom"></div>

<div id="restlist">
	<div id="restlistbox">
		<h1>Pick a </h1> 
		</ br>
		<h1>Web Developer</h1>
		<%= image_tag 'cart.jpg' %>
			<table class="table table-hover" class="table">

			

			<div class="developers">
				<div id="mark">
				  <p class="name"> Out Of Stock</p>
				  <p class="text">Mark Zuckerberg</p>
				  <%= image_tag 'markheadshot.jpg', class: 'mark' %>
				</div>

				<div id="alex">
				  <p class="name"> In Stock</p>
				  <p class="text">Alexandra Sos</p>
				  <a href="http://alexsos.herokuapp.com/developers/show"><%= image_tag 'alexheadshot.jpg', class: 'alex' %></a>
				</div>

				<div id="albert">
				  <p class="name"> Out Of Stock</p>
				  <p class="alberttext">Albert Einstein</p>
				  <%= image_tag 'albertheadshot.jpg', class: 'albert' %>
				</div>
			

			</div>

			</table>

    </div>